<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css"/>
    <title>Document</title>
</head>
<body>
    <div class="contant1">
        <div class="contant4">
          <div class="contant2">
            <img class="image1" src="../../homePage/ph_phone-call-light.png" />
            <p class="contant3">912121131313</p>
          </div>
          <p class="contant3">
            Get 50% off on selected items <span>|</span> Shop Now
          </p>
          <div class="contant2">
            <p class="contant39">Logout</p>
          </div>
        </div>
      </div>
      <div class="contant36">
        <div class="contant12">
          <div class="contant8">
            <div class="contant5">
              <img class="image2" src="../../homePage/image_4.png" />
              <p class="contant6">Musicart</p>
            </div>
            <div class="contant7">
              <p class="contant9">Home</p>
              <p class="contant9">Invoice</p>
            </div>
          </div>
          <div class="contant15">
            <div class="contant10">
              <img class="image3" src="../../homePage/cart-shopping-solid.svg" />
              <pre class="contant11">View cart  0</pre>
            </div>
            <div class="contant13">
              <p class="contant14">DR</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>